* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.bolder {
  font-weight: 600;
}

.thicker {
  border: 1px solid black;
}

.demo{
  border:0px solid black;
  border-radius:4px;
  width:40px;
  height:40px;
}

